<h2>All Technologies</h2>

<div class="row overlay container"><% @technologies.each do |tech| %>
<article class="col m4 center-align">
  <p class="image-cropper center-align"><%= image_tag tech.icon_url %> class="rounded">
  </p>
  <div class="col m4 center-align"><%= link_to tech.name, technology_path(tech) %>
</div>

</article>
<% end %>
</div>
