<%= link_to "add new technology", new_technology_path %>

<section>
  <% @technologies.each do |post| %>
  <article>
    <h2><%= link_to technology.title, technology_path(technology) %></h2>
    <time>Updated at <%= post.updated_at %></time>
    <p><%= technology.icon_url %></p>

  </article>
  <% end %>
</section>
