
<h2><%= @technology.name %></h2>
<section>

  <sidebar>
    <ul>
    <% @technology.links.each do |link| %>
     <li><%= link_to(link.title, link.url, target: 'blank') %></li>
    <%end%>
  </ul>
  </sidebar>

</section>
<ul><% @technology.posts.each do |post| %>
  <li><%= post.title %></li>
  <% end %>
</ul>

<section>
  <h3> Suggestion? </h3>
  <form action="//formspree.io/kaustly@gmail.com"
        method="POST">
      <input type="text" name="name" placeholder="your name">
      <input type="email" name="_replyto" placeholder="your email">
      <input name="suggestion">suggestion</input>
      <input type="submit" value="Send">
  </form>


<%#= link_to "add new post", new_technology_post_path(@technology) %>
