
<h2><%= @technology.name %></h2>
<section>

  <sidebar>
    <ul>
    <% @technology.links.each do |link| %>
     <li><%= link_to(link.title, link.url, target: 'blank') %></li>
    <%end%>
  </ul>


  </sidebar>

</section>

<section>
  

<%= link_to "add new post", new_post_path %>
